speculative_logs.txt
note_important.txt
todo_list.txt
#spark-1.6.1/assembly/target/
#spark-1.6.1/bagel/target/
#spark-1.6.1/build/zinc-0.3.5.3/
#spark-1.6.1/core/target/
#spark-1.6.1/docker-integration-tests/target/
#spark-1.6.1/examples/target/
#spark-1.6.1/external/flume/target/
#spark-1.6.1/external/flume-assembly/target/
#spark-1.6.1/external/flume-sink/target/
#spark-1.6.1/external/kafka/target/
#spark-1.6.1/external/kafka-assembly/target/
#spark-1.6.1/external/mqtt/target/
#spark-1.6.1/external/mqtt-assembly/target/
#spark-1.6.1/external/twitter/target/
#spark-1.6.1/external/zeromq/target/
#spark-1.6.1/graphx/target/
#spark-1.6.1/launcher/target/
#spark-1.6.1/lib_managed/
#spark-1.6.1/mllib/target/
#spark-1.6.1/network/common/target/
#spark-1.6.1/network/shuffle/target/
#spark-1.6.1/network/yarn/target/
#spark-1.6.1/project/target/
#spark-1.6.1/repl/target/
#spark-1.6.1/sql/catalyst/target/
#spark-1.6.1/sql/core/target/
#spark-1.6.1/sql/hive/target/
#spark-1.6.1/streaming/target/
#spark-1.6.1/tools/target/
#spark-1.6.1/unsafe/target/
#spark-1.6.1/project/project/target/
#spark-1.6.1/project/target/
#spark-1.6.1/yarn/target/
#spark-1.6.1/tags/target/
#spark-1.6.1/python/lib/pyspark.zip
#spark-1.6.1/target/streams/$global/clean/$global/streams/out
#spark-1.6.1/.idea/workspace.xml

#this files will be updated during compilation 
spark-1.6.1/project/project/target/
spark-1.6.1/assembly/target/
spark-1.6.1/target/
spark-1.6.1/core/target/
spark-1.6.1/project/target/

#showed up after I import the project to IntelijIdea
spark-1.6.1/core/src/.idea/
spark-1.6.1/core/src/main/main.iml
spark-1.6.1/network/yarn/target/
spark-1.6.1/yarn/target/

spark-1.6.1/logs/
spark-1.6.1/work/
generated_driver_log/
spark-1.6.1/assembly/target/scala-2.10/spark-assembly-1.6.1-hadoop2.7.2.jar
allfileshas.txt
bigobjects.txt
bigtosmall.txt















